<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item color="warning">
      <ion-label>Asignatura</ion-label>
      <ion-label>Fecha</ion-label>
      <ion-label>Presente</ion-label>
    </ion-item>
      <ion-item *ngFor="let asistensia of asistencias">
        <ion-label>{{asistensia.asignatura | uppercase }}</ion-label>
        <ion-label >{{asistensia.fecha | uppercase}}</ion-label> 
        <ion-label *ngIf="asistensia.presente == true; else noasistio"><ion-icon  name="checkmark-outline"></ion-icon></ion-label>
        <ng-template #noasistio >
          <ion-label><ion-icon  name="close-outline"></ion-icon></ion-label>
        </ng-template> 
      </ion-item>

  </ion-list>
</ion-content>
