<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true" class="ion-padding">
    <form (ngSubmit)=" Login()">
      <ion-item class="ion-margin-vertical">
        <ion-input [(ngModel)]="username" name="username" required type="text" label="Nombre de usuario"
          labelPlacement="floating" helperText="" errorText=""></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-vertical">
        <ion-input [type]="passwordType" [(ngModel)]="password" name="password" required label="Contraseña"
          labelPlacement="floating" helperText="" errorText=""></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
  
      <ion-button expand="block" type="submit" class="ion-margin-top" >Registrarse</ion-button>
    </form>

    <ion-button expand="block" fill="clear" color="dark" (click)="inicioSeccion()" style="font-size: 10px;">
      Iniciar Sesión
    </ion-button>
</ion-content>