<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end" *ngIf="isLoggedIn">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="isLoggedIn; else loginPrompt">
    <div>
      <h1>Bienvenido, {{ username }}!</h1>
      <p>¿Qué deseas hacer hoy?</p>
    </div>
  </div>

  <ng-template #loginPrompt>
    <div class="login-prompt">
      <h2>Bienvenido a Asistencia UC</h2>
      <p>Por favor, inicia sesión para acceder a tus opciones.</p>
      <ion-button expand="block" routerLink="/sign">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Iniciar Sesión
      </ion-button>
    </div>
  </ng-template>
 
</ion-content>
